#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_2 {
  -pie-background: linear-gradient(to bottom,#000000,#117203 50%,#000000);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_1 {
  -pie-background: linear-gradient(to bottom,#000000,#434343);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Paragraph_15 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Paragraph_17 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 13px 13px 13px 13px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 13px 13px 13px 13px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 13px 13px 13px 13px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_9 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 13px 13px 13px 13px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 13px 13px 13px 13px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_13 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 13px 13px 13px 13px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_15 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 13px 13px 13px 13px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_17 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 13px 13px 13px 13px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_19 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 13px 13px 13px 13px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 13px 13px 13px 13px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Paragraph_18 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_23 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 13px 13px 13px 13px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Paragraph_19 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_25 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_26 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 13px 13px 13px 13px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Paragraph_20 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_27 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_28 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 13px 13px 13px 13px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Paragraph_21 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_29 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_30 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 13px 13px 13px 13px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Paragraph_22 {
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 #s-Rectangle_31 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0cbcde3a-b2fb-4529-9177-fe5686eebf21 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}