#s-5e1c57d3-826f-4784-b6f7-92ba0a979053 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e1c57d3-826f-4784-b6f7-92ba0a979053 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e1c57d3-826f-4784-b6f7-92ba0a979053 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e1c57d3-826f-4784-b6f7-92ba0a979053 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e1c57d3-826f-4784-b6f7-92ba0a979053 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75) ;
  filter: alpha(opacity=75) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e1c57d3-826f-4784-b6f7-92ba0a979053 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e1c57d3-826f-4784-b6f7-92ba0a979053 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e1c57d3-826f-4784-b6f7-92ba0a979053 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e1c57d3-826f-4784-b6f7-92ba0a979053 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e1c57d3-826f-4784-b6f7-92ba0a979053 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e1c57d3-826f-4784-b6f7-92ba0a979053 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e1c57d3-826f-4784-b6f7-92ba0a979053 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}