#s-75c5dda3-16dd-437c-8543-c0d91a41dc87 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-75c5dda3-16dd-437c-8543-c0d91a41dc87 #s-Rectangle_1 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-75c5dda3-16dd-437c-8543-c0d91a41dc87 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-75c5dda3-16dd-437c-8543-c0d91a41dc87 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-75c5dda3-16dd-437c-8543-c0d91a41dc87 #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 3px 3px 3px 3px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-75c5dda3-16dd-437c-8543-c0d91a41dc87 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 13px 13px 13px 13px;
  -ms-transform: rotate(0.0deg);
}
#s-75c5dda3-16dd-437c-8543-c0d91a41dc87 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-75c5dda3-16dd-437c-8543-c0d91a41dc87 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-75c5dda3-16dd-437c-8543-c0d91a41dc87 #s-Button_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 27px;
  width: 162px;
  -ms-transform: rotate(0.0deg);
}
#s-75c5dda3-16dd-437c-8543-c0d91a41dc87 #s-Button_2 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 27px;
  width: 161px;
  -ms-transform: rotate(0.0deg);
}
#s-75c5dda3-16dd-437c-8543-c0d91a41dc87 #s-Rectangle_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-75c5dda3-16dd-437c-8543-c0d91a41dc87 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}