#s-b48d6f1b-1e15-499c-bf41-ba0a9aeb5cbe #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b48d6f1b-1e15-499c-bf41-ba0a9aeb5cbe #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b48d6f1b-1e15-499c-bf41-ba0a9aeb5cbe #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b48d6f1b-1e15-499c-bf41-ba0a9aeb5cbe #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b48d6f1b-1e15-499c-bf41-ba0a9aeb5cbe #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75) ;
  filter: alpha(opacity=75) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b48d6f1b-1e15-499c-bf41-ba0a9aeb5cbe #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b48d6f1b-1e15-499c-bf41-ba0a9aeb5cbe #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b48d6f1b-1e15-499c-bf41-ba0a9aeb5cbe #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b48d6f1b-1e15-499c-bf41-ba0a9aeb5cbe #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b48d6f1b-1e15-499c-bf41-ba0a9aeb5cbe #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b48d6f1b-1e15-499c-bf41-ba0a9aeb5cbe #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b48d6f1b-1e15-499c-bf41-ba0a9aeb5cbe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}