#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Rectangle_2 {
  -pie-background: linear-gradient(to bottom,#000000,#117203 50%,#000000);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Rectangle_1 {
  -pie-background: linear-gradient(to bottom,#000000,#434343);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Paragraph_15 {
  -ms-transform: rotate(0.0deg);
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Paragraph_17 {
  -ms-transform: rotate(0.0deg);
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Line_1 {
  stroke-width: 5px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Line_1 {
  stroke-width: 5px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Line_2 {
  stroke-width: 5px;
  stroke: #282828;
  -ms-transform: rotate(0.0deg);
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Line_2 {
  stroke-width: 5px;
  stroke: #282828;
  -ms-transform: rotate(0.0deg);
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-columnChart {
  -ms-transform: rotate(0.0deg);
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-pieChart {
  -ms-transform: rotate(0.0deg);
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-barChart {
  -ms-transform: rotate(0.0deg);
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}