#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Paragraph_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Paragraph_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-columnChart {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-pieChart {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a #s-barChart {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fbf299d8-64eb-4385-b6b8-1e41958f701a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}