#t-14478d48-e293-4420-affe-8ead07aa9a89 #t-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14478d48-e293-4420-affe-8ead07aa9a89 #t-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14478d48-e293-4420-affe-8ead07aa9a89 #t-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14478d48-e293-4420-affe-8ead07aa9a89 #t-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14478d48-e293-4420-affe-8ead07aa9a89 #t-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75) ;
  filter: alpha(opacity=75) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14478d48-e293-4420-affe-8ead07aa9a89 #t-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14478d48-e293-4420-affe-8ead07aa9a89 #t-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14478d48-e293-4420-affe-8ead07aa9a89 #t-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14478d48-e293-4420-affe-8ead07aa9a89 #t-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14478d48-e293-4420-affe-8ead07aa9a89 #t-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14478d48-e293-4420-affe-8ead07aa9a89 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}